SpeakerEncoder:
    c_in: 80
    c_h: 64
    c_out: 64
    c_bank: 64
    kernel_size: 5
    n_conv_blocks: 6
    n_dense_blocks: 6
    subsample: [1, 2, 1, 2, 1, 2]
    act: 'relu'
    dropout_rate: 0
ContentEncoder:
    c_in: 80
    c_h: 64
    c_out: 64
    c_bank: 64
    kernel_size: 5
    n_conv_blocks: 6
    subsample: [1, 2, 1, 2, 1, 2]
    act: 'relu'
    dropout_rate: 0
Decoder:
    c_in: 64
    c_cond: 64
    c_h: 64
    c_out: 80
    kernel_size: 5
    n_conv_blocks: 6
    upsample: [2, 1, 2, 1, 2, 1]
    act: 'relu'
    sn: False
    dropout_rate: 0
CMI:
    mine: 64
    club: 64
data_loader:
    segment_size: 128
    frame_size: 1
    batch_size: 16
    shuffle: True
optimizer:
    lr: 0.001
    beta1: 0.9
    beta2: 0.999
    amsgrad: True
    weight_decay: 0.0001
    grad_norm: 5
scheduler:
    step_size: 10000
    gamma: 0.8
lambda:
    lambda_rec: 10
    lambda_kl: 1
    lambda_sia: 5
    lambda_mi: 1
sia_activate: 1
cmi_activate: 0
cmi_steps: 5
annealing_iters: 15000
